html {
    --tile_size: 128px;
}

#content {
    width: 80%;
    margin: auto;
}

#albums_container {
}

.AlbumName, .ArtistName {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ImageGrid {
    grid-template-columns: repeat(auto-fill, minmax(var(--tile_size), 1fr));
    grid-auto-rows: min-content;
    gap: .5rem;
    display: grid;
    font-size: 85%;
    line-height: 1.25em;
    width: 100%;
}

.YearSectionContainer {
    display: flex;
    gap: 1rem;
}

.CountInYear {
    margin: 0;
    font-family: l-lora;
    text-align: right;
    font-size: 0.8em;
}

.YearSeparator {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
}

input[type='range'] {
    accent-color: purple;
}

.Clickable {
    cursor: pointer;
}

.SortContainer {
    display: flex;
    font-weight: bolder;
}

.SortContainer > p {
    margin: 0;
}

#sort_mode {
    width: 100px;
    text-align: center;
}

.SizeSlider {
    width: 100px;
}

.AlbumEntry {
    
}

.AlbumEntryImg {
    width: var(--tile_size);
    aspect-ratio: 1/1;
    object-fit: contain;
}

.AlbumName, .ArtistName, .Year {
    margin: 0;
    text-align: center;
    font-family: l-lora;
}

.ArtistName, .Year {
    font-size: 0.8em;
}

#sorting_settings {
    
}

#stats {
    display: inline-flex;
    flex-direction: column;

    background: #220022dd;
    background-position-x: 0%;
    background-position-y: 0%;
    background-image: none;
    background-size: auto;
    border-radius: 5px;
    padding: 10px;
    background-size: 20px 20px;
    background-position: 10px 10px;
    font-family: l-monospace-sub;
    
    font-size: 0.9rem;
}

#stats > p {
    margin: 0;
}

#settings {
    display: flex;
    gap: 10px;

    background: #001522de;
    background-position-x: 0;
    background-position-y: 0;
    background-image: none;
    border-radius: 5px;
    padding: 10px;
    /*font-family: l-monospace-sub;*/

    /*font-size: 0.9rem;*/
}