.hidden-hyperlink {
  color: inherit;
  text-decoration: inherit;
}

.memory-date {
  font-family: l-monospace-sub;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  font-size: 1.3em;
  font-weight: bold;
}