@import url("/Resources/Fonts/font-file.css");

body {
  background-color: black;
  color: white;
  font-family: l-monospace-main;
}

a:link {
  color: cornflowerblue;
}

a:visited, a:active {
  color: blueviolet;
}