html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: l-monospace-sub;
}

p {
    margin: 0;
    font-size: 1.1em;
}

a:link {
    text-decoration: none;
}

#title {
    text-align: center;
    font-size: 2em;
}

#content {
    display: flex;
    flex-direction: column;
    width: max(60vw, 400px);
    height: 100%;
    margin: auto;
    align-items: center;
}

#panel_containers {
    height: 100%;
    margin: 20px 0 0 0;
    display: flex;
    width: 100%;
    overflow: hidden;
}

#main_panel {
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding: 10px;
    overflow: scroll;
    font-family: l-monospace-main;
}

#side_panel {
    overflow: scroll;
    width: 50%;
    padding: 10px;
    font-family: l-ubuntu;
}

#side_panel p {
    margin: 8px 0;
    line-height: 1em;
    font-size: 1em;
    /*border-bottom: 1px solid #5b095e;*/
}

.GayBorder {
    border-left: 2px solid #5b095e;
}

.Indented {
    margin-left: 1em;
}

.Collapsible {
    cursor: pointer;
}

.Deactivated {
    display: none;
}

/*.CollapsibleContent #side_panel {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    overflow: hidden;*/
/*    gap: 5px;*/
/*}*/

.HasBodyContent {
    cursor: pointer;
}

.HasBodyContent.Selected {
    background-color: #5b095e88;
}

.BodyContent {
}

.Poem {
    white-space: nowrap;
}

.version {
    text-align: center;
}