html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: l-monospace-sub;
}

p {
    margin: 4px 0 4px 0;
}

#title {
    text-align: center;
    font-size: 2em;
}

#panel_containers {
    height: min(70%, 500px);
    margin: 20px auto 0 auto;
    display: flex;
}

#content {
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 100%;
    margin: auto;
    align-items: center;
}

#main_panel {
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding: 10px;
    overflow: scroll;
}

#side_panel {
    overflow: scroll;
    width: 300px;
    padding: 10px;
}

.GayBorder {
    border-left: 2px solid #5b095e;
    /*border-right: 2px solid #5b095e;*/
    /*border-top: 2px solid #5b095e;*/
}

.Indented {
    margin-left: 1em;
}

.Collapsible {
    cursor: pointer;
}

.CollapsibleActivated {
    
}

.CollapsibleContent {
    display: none;
    overflow: hidden;
}

.HasBodyContent {

}

.BodyContent {
    display: none;
}

.version {
    bottom: 10px;
    /*width: 100%;*/
    text-align: center;
    position: absolute;
}