.TooltipContainer {
    display: none;
    background-color: #380052;
    max-width: 200px;
    position: fixed;
    transform: translate(10px, -50%);
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 5px;
}